<a href="https://colab.research.google.com/github/rii92/Datmin/blob/main/008_more_on_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Appending data

We can add new data to an existing list using the append() method. The append() method adds the data to the end of the list.

In [2]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.append("Jill")
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'Mary', 'George', 'Paul', 'Jill']

# Inserting data at specific index

If we want to insert data at a specific index rather than at the end of the list, we can use the insert() method.

In [3]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.insert(2, "Jill")
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'Jill', 'Mary', 'George', 'Paul']

As you can see above, `Jill` was added to the second index of the list and pushing the name `Mary` to be the third index.

# Popping data

We can remove the last data from a list using the pop() method. The pop() method returns the data that was removed.

In [4]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.pop()
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'Mary', 'George']

You can specify the index of the data you want to remove too like so:

In [5]:
names = [
    "Peter",
    "John",
    "Mary",
    "George",
    "Paul",
]

print(names)
names.pop(2)
print(names)

['Peter', 'John', 'Mary', 'George', 'Paul']
['Peter', 'John', 'George', 'Paul']

# Challenge!

# Challenge 1

Append new car named `Toyota` to the list of cars.

In [6]:
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Add your code below!
cars.append("Toyota")


print(cars) # Expected output: ['BMW', 'Audi', 'Mercedes', 'Volkswagen', 'Porsche', 'Toyota']

['BMW', 'Audi', 'Mercedes', 'Volkswagen', 'Porsche', 'Toyota']

When you are done with the above challenge, then:
1. Input your student_id and name in the box below
2. Run the code block by pressing the play button.

In [7]:
!pip install rggrader

from rggrader import submit

# @title #### Student Identity
student_id = "REAFCDNE" # @param {type:"string"}
name = "Riofebri Prasetia" # @param {type:"string"}

# Submit Method
assignment_id = "008_more_on_list"
question_id = "01_more_list_1"
submit(student_id, name, assignment_id, cars[5], question_id)

Collecting rggrader
  Downloading rggrader-0.1.6-py3-none-any.whl (2.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from rggrader) (2.0.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from rggrader) (9.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2024.7.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->rggrader) (1.16.0)
Installing collected packages: rggrader
Successfully installed rggrader-0.1.6

'Assignment successfully submitted'

## Challenge 2

Insert a new car named `Honda` between `Mercedes` and `Volkswagen`

In [8]:
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Add your code below!
cars.insert(3, "Honda")

print(cars) # Expected output: ['BMW', 'Audi', 'Mercedes', 'Honda', 'Volkswagen', 'Porsche']

['BMW', 'Audi', 'Mercedes', 'Honda', 'Volkswagen', 'Porsche']

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [9]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "02_more_list_2"

submit(student_id, name, assignment_id, cars[3], question_id)

'Assignment successfully submitted'

## Challenge 3

Remove "BMW" and "Porsche" from the list of cars.

In [21]:
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Add your code below!
cars.pop(0)
cars.pop()

print(cars) # Expected output: ['Audi', 'Mercedes', 'Volkswagen']

['Audi', 'Mercedes', 'Volkswagen']

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [22]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "03_more_list_3"

submit(student_id, name, assignment_id, cars[0], question_id)

'Assignment successfully submitted'

# Filtering data on list by creating a new list

We can filter data on a list by creating a new list. Let's say we want to filter out all employees who are not in the `Sales` department. We can do so by creating a new list and adding only the employees who are in the `Sales` department to the new list.

How so? Using combination of `for` loop and `if` statement of course!

In [23]:
all_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = []

for number in all_numbers:
    if number % 2 == 1:
        odd_numbers.append(number)

print(odd_numbers)

[1, 3, 5, 7, 9]

# Challenge!

## Challenge 1

Create a new list of numbers that is greater than 5 from the list of numbers below.

In [25]:
all_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
greater_than_five = []

for number in all_numbers:
    if number > 5:
        greater_than_five.append(number)

print(greater_than_five) # Expected output: [6, 7, 8, 9]

[6, 7, 8, 9]

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [26]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "04_filter_1"

submit(student_id, name, assignment_id, str(greater_than_five), question_id)

'Assignment successfully submitted'

## Challenge 2

Get all names that are longer than 5 characters from the list of words below.

In [28]:
all_names = ['John', 'Ardian', 'Jill', 'Jennifer', 'Pahlevi', 'Ricky']
names_more_than_five_characters = []

# Add your code below!
for name in all_names:
  if len(name) > 5:
    names_more_than_five_characters.append(name)

print(names_more_than_five_characters) # Expected output: ['Ardian', 'Jennifer', 'Pahlevi']

['Ardian', 'Jennifer', 'Pahlevi']

When you are done with the above challenge, then:
1. Run the code block by pressing the play button.

In [29]:
# Submit Method
assignment_id = "008_more_on_list"
question_id = "05_filter_2"

submit(student_id, name, assignment_id, str(names_more_than_five_characters), question_id)

'Assignment successfully submitted'

In [30]:
#extra lessons
cars = ["BMW", "Audi", "Mercedes", "Volkswagen", "Porsche"]

# Challenge-nya: tambahkan "Honda" setelah "Audi" dan "Toyota" setelah "Volkswagen"

#Step-1: output-nya seperti apa?
#["BMW", "Audi", "Honda", "Mercedes", "Volkswagen", "Toyota", "Porsche"]

#Step-2: cara-nya / logika-nya seperti apa ?
# looping cars
#   di setiap index cek apakah data-nya = Audi atau data-nya = Volkswagen
#     kalau ya Audi, maka kita masukkan Honda setelah Audi
#     kalau ya Volkswagen, maka kita masukkan Toyota setelah Volkswagen

#Step-3: baru kita coding
#insert(index, data)
for index, car in enumerate(cars):
  if car == "Audi":
    cars.insert(index+1, "Honda")
  if car == "Volkswagen":
    cars.insert(index+1, "Toyota")

print(cars)

['BMW', 'Audi', 'Honda', 'Mercedes', 'Volkswagen', 'Toyota', 'Porsche']