<a href="https://colab.research.google.com/github/rii92/Datmin/blob/main/bootcamp/session2/04_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session #2 - Python #2
- Adipta Martulandi (https://www.linkedin.com/in/adiptamartulandi/)
- Agenda
  1. 19.30-20.30 Materi Sesi 1
  4. 20.30-20.40 Istirahat
  5. 20.40-21.15 Materi Sesi 2
  6. 21.15-21.30 QnA

***

***

***

***

# Data Structures

Data structures are essential for organizing, managing, and storing data in a program. Python provides built-in data structures like Lists, Tuples, Sets, and Dictionaries that offer different functionalities and use cases. For more information on Python data structures and their methods, you can visit [learnpython](www.learnpython.org).

## List

- Ordering: Lists are ordered collections.
- Mutability: Lists are mutable; they can be modified after creation.
- Duplicates: Lists allow duplicate elements.
- Syntax: Lists are created using square brackets `[]`.

A common use case for lists is storing and accessing a collection of items in a specific order.

In [1]:
# Creating a list of student names
student_names = ["Alice", "Bob", "Charlie", "David", "Charlie"]

In [2]:
student_names

['Alice', 'Bob', 'Charlie', 'David', 'Charlie']

In [3]:
type(student_names)

list

In [4]:
# Adding a student to the list
student_names.append("Eve")

In [5]:
student_names

['Alice', 'Bob', 'Charlie', 'David', 'Charlie', 'Eve']

In [6]:
# Removing a student from the list
student_names.remove("Bob")

In [7]:
student_names

['Alice', 'Charlie', 'David', 'Charlie', 'Eve']

In [8]:
# Iterating through the list of student names
for name in student_names:
    print(name)

Alice
Charlie
David
Charlie
Eve

In [9]:
student_names[2]

'David'

In [10]:
data_siswa_adipta = ["AI Engineer", 2, False, 8.5]

In [11]:
data_siswa_adipta[-1]

8.5

In [12]:
data_siswa_adipta[-2]

False

Operations on lists:

- Accessing elements: `student_names[1]` returns `"Bob"`.
- Modifying elements: `student_names[0] = "Bryan"` changes the first element to `Bryan`.
- Adding elements: `student_names.append("Eric")` adds `"Eric"` to the end of the list.
- Removing elements: `student_names.remove("Charlie")` removes the first occurrence of `"Charlie"` from the list.

## Tuples

- Ordering: Tuples are ordered collections.
- Mutability: Tuples are immutable; they cannot be modified after creation.
- Duplicates: Tuples allow duplicate elements.
- Syntax: Tuples are created using round brackets `()`.

Tuples are useful when you have a fixed collection of items that should not change throughout the program's execution.

In [13]:
# Defining coordinates as a tuple
coordinates = (12.34, 56.78)

In [14]:
type(coordinates)

tuple

In [15]:
# Accessing the longitude and latitude
longitude, latitude = coordinates

In [16]:
longitude

12.34

In [28]:
coordinates.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [18]:




# Tuples can be used as keys in dictionaries
capital_cities = {("United States", "California"): "Sacramento", ("France", "Île-de-France"): "Paris"}

# Accessing the capital city of California, United States
capital = capital_cities[("United States", "California")]
print(capital)

Sacramento

## Sets

- Ordering: Sets are unordered collections.
- Mutability: Sets are mutable; they can be modified after creation.
- Duplicates: Sets do not allow duplicate elements.
- Syntax: Sets are created using curly brackets `{}`.

Sets are useful for efficiently storing unique values and performing set operations.

In [19]:
# Creating sets of unique hobbies for two people
hobbies_alice = {"reading", "hiking", "cooking"}
hobbies_bob = {"cooking", "painting", "cycling"}

In [20]:
type(hobbies_alice)

set

In [21]:
hobbies_alice = {"reading", "hiking", "cooking", "reading"}

In [22]:
hobbies_alice

{'cooking', 'hiking', 'reading'}

In [23]:
# Finding common hobbies
common_hobbies = hobbies_alice.intersection(hobbies_bob)
print("Common hobbies:", common_hobbies)

# Finding the union of hobbies
all_hobbies = hobbies_alice.union(hobbies_bob)
print("All hobbies:", all_hobbies)

Common hobbies: {'cooking'}
All hobbies: {'hiking', 'cooking', 'painting', 'reading', 'cycling'}

In [24]:
hobbies_alice.add("riding")

In [25]:
hobbies_alice.remove("reading")

In [26]:
hobbies_alice

{'cooking', 'hiking', 'riding'}

Operations on sets:

- Adding elements: `hobbies_alice.add("riding")` adds `"riding"` to the set.
- Removing elements: `hobbies_alice.remove("hiking")` removes `"hiking"` from the set.
- Unions and intersections: `hobbies_alice.union(another_set)` returns a new set containing elements from both sets, while `hobbies_alice.intersection(another_set)` returns a new set containing common elements.

## Dictionaries

- Ordering: Dictionaries are unordered collections.
- Mutability: Dictionaries are mutable; they can be modified after creation.
- Duplicates: Dictionaries do not allow duplicate keys, but values can be duplicated.
- Structure: Dictionaries consist of key-value pairs.
- Syntax: Dictionaries are created using curly brackets {} with key-value pairs separated by colons.

Dictionaries are useful for storing key-value pairs and efficiently accessing values using their keys.

In [27]:
fish (key) --> ikan (value)

SyntaxError: invalid syntax (<ipython-input-27-a491aa216e8b>, line 1)

In [29]:
# Creating a dictionary that maps student names to their ages
student_ages = {"Alice": 20,
                "Bob": 22,
                "Charlie": 21}

In [30]:
student_ages

{'Alice': 20, 'Bob': 22, 'Charlie': 21}

In [31]:
type(student_ages)

dict

In [32]:
# Adding a new student to the dictionary
student_ages["David"] = 23

In [33]:
student_ages

{'Alice': 20, 'Bob': 22, 'Charlie': 21, 'David': 23}

In [34]:
# Updating a student's age
student_ages["Alice"] = 21

In [35]:
student_ages

{'Alice': 21, 'Bob': 22, 'Charlie': 21, 'David': 23}

In [36]:
# Iterating through the dictionary and printing student names and ages
for name, age in student_ages.items():
    print(name, "is", age, "years old")

Alice is 21 years old
Bob is 22 years old
Charlie is 21 years old
David is 23 years old

In [37]:
for name in student_ages.keys():
    print(name)

Alice
Bob
Charlie
David

In [38]:
for age in student_ages.values():
    print(age)

21
22
21
23

Operations on dictionaries:

- Accessing values: `student_ages["Alice"]` returns `20`.
- Modifying values: `student_ages["Alice"] = 21` changes the value of `"Alice"` to `21`.
- Adding key-value pairs: `student_ages["Fulan"] = 20` adds a new key-value pair to the dictionary.
- Removing key-value pairs: `student_ages.pop("Fulan")` removes the key-value pair with the key `"Fulan"`.

## Exercise Data Structures

In [39]:
!pip install rggrader

Collecting rggrader
  Downloading rggrader-0.1.6-py3-none-any.whl (2.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from rggrader) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from rggrader) (2.0.3)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from rggrader) (9.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->rggrader) (1.25.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->rggrader) (2024.7.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->rggrader) (1.16.0)
Installing collected packages: rggrader
Successfully installed rggrader-0.1.6

In [40]:
# @title #### Student Identity
student_id = "REAFCDNE" # @param {type:"string"}
name = "Riofebri Prasetia" # @param {type:"string"}

In [48]:
# @title #### 00. Fun with Fruits
from rggrader import submit

# TODO: Create a list 'fruits' that contains "Apple", "Banana", and "Cherry".
# Then remove "Banana" from the 'fruits' list and append "Dragonfruit" and "Elderberry".
fruits = []

# Put your code here:
fruits = ["Apple", "Banana", "Cherry"]
fruits.remove("Banana")
fruits.append("Dragonfruit")
fruits.append("Elderberry")
# ---- End of your code ----

print(f"The final fruits list is {fruits}")

# Submit Method
assignment_id = "03-data-structures"
question_id = "00_fun_with_fruits"
submit(student_id, name, assignment_id, ", ".join(fruits), question_id)

# Example:
# List: ["Peach", "Pear", "Plum"]
# Remove: "Pear"
# Append: ["Grape", "Guava"]
# Output: ['Peach', 'Plum', 'Grape', 'Guava']

The final fruits list is ['Apple', 'Cherry', 'Dragonfruit', 'Elderberry']

'Assignment successfully submitted'

In [49]:
# @title #### 01. Trip to Brussels
from rggrader import submit

# TODO: You're planning a trip to Brussels! Create a tuple 'coordinates' that represents a longitude
#       of 50.85 and a latitude of 4.35 (which is the coordinates of Brussels).


# Put your code here:
coordinates = None
longitude = 50.85
latitude = 4.35
coordinates = (longitude, latitude)

# ---- End of your code ----

print(f"The coordinates for Brussels are {coordinates}")

# Submit Method
assignment_id = "03-data-structures"
question_id = "01_trip_to_brussels"
submit(student_id, name, assignment_id, ", ".join(map(str, coordinates)), question_id)

# Example:
# Longitude: 60.17
# Latitude: 24.94
# Output: (60.17, 24.94)

The coordinates for Brussels are (50.85, 4.35)

'Assignment successfully submitted'

In [56]:
# @title #### 02. Birthday Party
from rggrader import submit

# TODO: You're throwing a birthday party! Create a dictionary 'ages' that contains key-value pairs of your friends' names
#       and their ages: "Alice": 25, "Bob": 30, "Charlie": 35.
# Alice just had her birthday! So, change the age of "Alice" to 26. Then, add your friend "David" who is 40 to the party.


# Put your code here:
ages = {"Alice": 25, "Bob": 30, "Charlie": 35}

ages["Alice"] = 26
ages["David"] = 40

# ---- End of your code ----

print(f"The final ages dictionary is {ages}")

# Submit Method
assignment_id = "03-data-structures"
question_id = "02_birthday_party"
submit(student_id, name, assignment_id, str(ages), question_id)

# Example:
# Dictionary: {"John": 28, "Linda": 25, "Peter": 30}
# Change Age: John turns 29
# Add New Friend: {"Mary": 32}
# Output: {"John": 29, "Linda": 25, "Peter": 30, "Mary": 32}

The final ages dictionary is {'Alice': 26, 'Bob': 30, 'Charlie': 35, 'David': 40}

'Assignment successfully submitted'

In [58]:
# @title #### 03. Count Odd and Even
from rggrader import submit

# TODO: Create a list 'series' that contains the numbers 1, 2, 3, 4, 5, 6, 7, 8, 9.
# Write a program to count the number of odd and even numbers from a series of numbers.

series = []
odd_count = 0
even_count = 0

# Put your code here:
series = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for x in series:
  if (x % 2 == 0):
    even_count += 1
  else:
    odd_count += 1

# ---- End of your code ----

print(f"The count of odd numbers is {odd_count} and the count of even numbers is {even_count}")

# Submit Method
assignment_id = "01-control-structures"
question_id = "03_count-odd-even"
submit(student_id, name, assignment_id, str(odd_count) + ' ' + str(even_count), question_id)

# Example:
# Series: [2, 4, 6, 7, 9, 11, 13, 15]
# Output: The count of odd numbers is 5 and the count of even numbers is 3

The count of odd numbers is 5 and the count of even numbers is 4

'Assignment successfully submitted'

In [59]:
# @title #### 04. Fun with Sets
# from rggrader import submit

# TODO: Create a set 'fruits' that contains "Apple", "Banana", and "Cherry".
# Then remove "Banana" from the 'fruits' set and add "Dragonfruit" and "Elderberry".


# Put your code here:
fruits = set()
fruits = {"Apple", "Banana", "Cherry"}
fruits.remove("Banana")
fruits.add("Dragonfruit")
fruits.add("Elderberry")
# ---- End of your code ----

print(f"The final fruits set is {fruits}")

# Submit Method
assignment_id = "03-data-structures"
question_id = "04_fun_with_sets"
# submit(student_id, name, assignment_id, ", ".join(fruits), question_id)

# Note: set is an unordered collection of items, so the output can be in any order.

# Example:
# Set: {"Peach", "Pear", "Plum"}
# Remove: "Pear"
# Add: {"Grape", "Guava"}
# Output: {"Peach", "Plum", "Grape", "Guava"}

The final fruits set is {'Apple', 'Elderberry', 'Dragonfruit', 'Cherry'}

In [60]:
# @title #### 05. Pair Coordinates
from rggrader import submit

# TODO: You're given two lists of cities and their coordinates.
# cities = ['CityA', 'CityB', 'CityC']
# coordinates = [(10.00, 20.00), (30.00, 40.00), (50.00, 60.00)]
# Create a dictionary 'city_coordinates' that contains cities as keys and their coordinates as values.

cities = ['CityA', 'CityB', 'CityC']
coordinates = [(10.00, 20.00), (30.00, 40.00), (50.00, 60.00)]
city_coordinates = {}

# Put your code here:
city_coordinates["CityA"] = (10.00, 20.00)
city_coordinates["CityB"] = (30.00, 40.00)
city_coordinates["CityC"] = (50.00, 60.00)
# ---- End of your code ----

print(f"The final city_coordinates dictionary is {city_coordinates}")

# Submit Method
assignment_id = "03-data-structures"
question_id = "05_pair_coordinates"
submit(student_id, name, assignment_id, str(city_coordinates), question_id)

# Example:
# Cities: ['Helsinki', 'Oslo', 'Copenhagen']
# Coordinates: [(60.17, 24.94), (59.91, 10.75), (55.67, 12.57)]
# Output: {'Helsinki': (60.17, 24.94), 'Oslo': (59.91, 10.75), 'Copenhagen': (55.67, 12.57)}

The final city_coordinates dictionary is {'CityA': (10.0, 20.0), 'CityB': (30.0, 40.0), 'CityC': (50.0, 60.0)}

'Assignment successfully submitted'